<%- include('partials/header.ejs') %>

    <section class="hero">
      <h1>Welcome to TechNova</h1>
      <p>Experience AI, Robotics, and Next-Gen Innovations.</p>
      <div class="rl-buttons">

        <a href="/register" class="cta-button">Register</a>
        <a href="/login" class="cta-button">Login</a>
      </div>
    </section>


<%- include('partials/footer') %>