<%- include('partials/header.ejs') %>

    <section class="hero">
      <h1>Welcome to TechNova</h1>
      <p>Experience AI, Robotics, and Next-Gen Innovations.</p>
      <a href="#register" class="cta-button">Join the Revolution</a>
    </section>


<%- include('partials/footer') %>